@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar::-webkit-scrollbar-track {
    background-color: transparent;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  input:focus ~ label,
  input:not(:placeholder-shown) ~ label {
    @apply -translate-y-2 text-xsmall-regular;
  }

  input:focus ~ label {
    @apply left-0;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover,
  textarea:-webkit-autofill:focus,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus {
    border: 1px solid #212121;
    -webkit-text-fill-color: #212121;
    -webkit-box-shadow: 0 0 0px 1000px #fff inset;
    transition: background-color 5000s ease-in-out 0s;
  }

  input[type="search"]::-webkit-search-decoration,
  input[type="search"]::-webkit-search-cancel-button,
  input[type="search"]::-webkit-search-results-button,
  input[type="search"]::-webkit-search-results-decoration {
    -webkit-appearance: none;
  }
}

@layer components {
  .content-container {
    @apply max-w-[1440px] w-full mx-auto px-4 md:px-8 lg:px-24;
  }

  .contrast-btn {
    @apply px-4 py-2 border border-black rounded-full hover:bg-black hover:text-white transition-colors duration-200 ease-in;
  }

  .text-xsmall-regular {
    @apply text-[10px] leading-4 font-normal;
  }

  .text-small-regular {
    @apply text-xs leading-5 font-normal;
  }

  .text-small-semi {
    @apply text-xs leading-5 font-semibold;
  }

  .text-base-regular {
    @apply text-sm leading-6 font-normal;
  }

  .text-base-semi {
    @apply text-sm leading-6 font-semibold;
  }

  .text-large-regular {
    @apply text-base leading-6 font-normal;
  }

  .text-large-semi {
    @apply text-base leading-6 font-semibold;
  }

  .text-xl-regular {
    @apply text-2xl leading-[36px] font-normal;
  }

  .text-xl-semi {
    @apply text-2xl leading-[36px] font-semibold;
  }

  .text-2xl-regular {
    @apply text-[30px] leading-[48px] font-normal;
  }

  .text-2xl-semi {
    @apply text-[30px] leading-[48px] font-semibold;
  }

  .text-3xl-regular {
    @apply text-[32px] leading-[44px] font-normal;
  }

  .text-3xl-semi {
    @apply text-[32px] leading-[44px] font-semibold;
  }
}

.bullet::before {
  content: "•";
  font-size: 1.25em;
  color: gray;
}

.gradient-div {
  width: 100%;
  height: 50px; /* Adjust the height as needed */
  background: linear-gradient(to top, black, transparent);
  border-radius: 0 0 8px 8px;
}

.login-padding {
  @apply px-5 md:px-4
}

.login-text{
  @apply text-sm text-[#475467]
}

.warning-text {
  @apply txt-medium font-[500] bg-yellow-200 text-yellow-600 p-2 rounded-md my-2;
}

/* CHECKOUT NAVBAR */  

.checkout {
  @apply w-full bg-white relative small:min-h-screen;
}

.checkout-nav {
  @apply h-16 bg-white border-b border-[#E4E7EC] sticky top-0 z-10;
}

.checkout-nav-background {
  @apply flex h-full items-center content-container justify-between;
}

.checkout-nav-back {
  @apply flex items-center text-base w-8 h-8;
}

.checkout-nav-title {
 @apply text-lg font-[500] leading-8 text-center;
}

.checkout-nav-whitespace {
  @apply flex-1 basis-0;
}

.checkout-body {
  @apply relative;
}

/* CHECKOUT BODY */

.checkout-container {
  @apply max-w-[1440px] w-full mx-auto px-0 md:px-8 lg:px-24;
}

.checkout-mobile-container {
  @apply max-w-md md:max-w-[1440px] w-full px-4 md:px-0;
}

.checkout-background {
  @apply flex flex-col md:flex-row gap-5 py-4 md:py-8 checkout-container;
}

.checkout-wrapper {
  @apply w-full md:w-2/3 space-y-4;
}

.checkout-total {
  @apply min-w-0 md:min-w-[26em];
}

.checkout-shipping-methods {
  @apply flex items-center h-12 checkout-mobile-container;
}

.checkout-shipping-method {
  @apply h-full flex-1 rounded-circle flex items-center justify-center;
}

.checkout-shipping-address {
  @apply flex flex-col items-start gap-2 checkout-mobile-container
}

.checkout-heading {
  @apply text-base font-[500]
}

.checkout-packing {
  @apply space-y-3 checkout-mobile-container
}

.checkout-options {
  @apply flex flex-col gap-2
}

.checkout-option {
  @apply flex items-center gap-2
}

.checkout-option-label {
  @apply flex-1 basis-0
}

.divider-normal {
  @apply h-[1px] bg-[#F2F4F7]
}

.divider-big {
  @apply h-2 bg-[#F2F4F7]
}

.checkout-dishes {
  @apply space-y-3 checkout-mobile-container
}

.checkout-dishes-list {
  @apply flex flex-col gap-2
}

.checkout-dishes-line {
  @apply flex items-center gap-2
}

.checkout-additional-dishes {
  @apply space-y-3 checkout-mobile-container
}

.checkout-additional-dishes-list {
  @apply flex gap-4 overflow-y-auto no-scrollbar
}

.checkout-additional-dishes-line {
  @apply relative flex items-start gap-3 min-w-[16em]
}

.checkout-dish-image {
  @apply h-24 w-24 bg-gray-400 rounded-md
}

.checkout-payment-method {
  @apply space-y-3 checkout-mobile-container
}

.checkout-discount {
  @apply space-y-3 checkout-mobile-container
}

.checkout-note {
  @apply space-y-3 checkout-mobile-container
}

.checkout-discount-code {
  @apply flex gap-2
}

.checkout-discount-input{
@apply flex-1 border border-[#F2F4F7] rounded-md px-3 py-2
}

.checkout-discount-button {
  @apply px-4 py-2 bg-[#20419A] text-white rounded-md
}

.checkout-trading-condition {
  @apply flex gap-2 checkout-mobile-container
}

.checkout-total {
  @apply space-y-3
}

.checkout-total-line {
  @apply flex items-center justify-between text-[#475467]
}

.checkout-total-sale {
  @apply flex items-center justify-between text-[#20419A]
}

.checkout-total-subtotal {
  @apply space-y-1 checkout-mobile-container
}

.checkout-total-final {
  @apply flex items-center justify-between checkout-mobile-container
}

.checkout-total-submit {
  @apply max-w-[1440px] mx-4 md:mx-0
}

/* ORDER COMPLETED PAGG */

.confirm-h1 {
  @apply font-[500] text-2xl
}

.confirm-h2 {
  @apply font-medium text-base
}

.confirm-h3 {
  @apply font-medium text-sm
}

.confirm-normal-text {
  @apply font-normal text-base
}

.confirm-subtitle {
  @apply font-normal text-sm text-[#475467]
}

.confirm-button-text {
  @apply font-medium text-base text-[#20419A]
}

.confirm-bar-line {
  @apply h-[6px] bg-[#98A2B3] flex-1 basis-0
}

.confirm-bar-line-active {
  @apply h-[6px] bg-[#20419A] flex-1 basis-0
}

.confirm-bar-dot {
  @apply w-4 h-4 bg-[#98A2B3] rounded-full
}

.confirm-bar-dot-active {
  @apply w-4 h-4 bg-[#20419A] rounded-full
}
